@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color:#caedec;
  color: #574d40;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.8;
  margin: 0;
}

#wrapper {
	background-color: #231814;
	padding: 0;
}

nav {
	text-align: center;
	font-size: 1.5em;
}

nav a {
	text-decoration: none;
}

nav a:link {
	color: #FEF6C2;
}

nav a:visited {
	color: #D2B48C;
}

nav a:hover {
	color: #CC9933;
}

nav ul {
	display: flex;
	flex-direction: column;
	font-size: 1.25em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	border-bottom: 1px solid #FEF6C2;
	padding: .5em 1em;
	width: 100%;
}

header {
  background-color: #6c7ba3;
  color: #231814;
  background-image: url(images/cup.jpg);
  background-repeat: no-repeat;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 128px;
	padding-left: 105px;
	padding-top: 5px;
	padding-bottom: 5px;
}


header a:link, header a:visited {
  color: #231814;
  text-decoration: none;
}

header a:hover {
  color: #FEF6C2;
}

#homehero {
  height: 300px;
  background-image: url(images/road.jpg);
  background-repeat: no-repeat;
  background-size: 100%100%;
}
#heromugs {
	height: 300px;
	background-image: url(images/threemugs.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#heroguitar {
	height: 300px;
	background-image: url(images/guitar.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#herojobs {
	height: 300px;
	background-image: url(images/coffeecup.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1 {
	font-size: 2em;
	font-family: 'Bayon', sans-serif;
}

h2 {
	color: #8C3826;
}

h3{
  color: #8C3826;
}
dt{
  color: #8C3826;
}

h4 {
  background-color: #D2B48C;
  font-size: 1.2em;
  padding-left: .5em;
  padding-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #231814;
  clear: left;
}

.details {
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}

img {
 border-style: none;
 max-width: 100%;
 height: auto;
}
 
main {
	background-color: #FEF6C2;
	display: block;
	padding: 0 0 2em 0;
}

footer {
  background-color: #6c7ba3;
  color: #f2efeb;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: solid 2px #8C3826;
}

main h2, main h3, main h4, main p, main div, main dl {
  padding-left: 1em;
  padding-right: 1em;
}

main ul{
  padding-left: 2em;
}

#mobile {
	display: inline;
}

#desktop {
	display: none;
}

footer {
	background-color: #D2B48C;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
	border-top: 2px solid #8C3826;
}

table {
	margin: auto;
	width: 90%;
	border-spacing: 0;
}

th,
td {
	padding: 10px;
}

tr:nth-of-type(odd) {
	background-color: #D2B48E;
}

form {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	width: 80%;
}

input,
textarea {
	margin-bottom: .5em;
}

@media (min-width: 600px) {
	header {
		padding-left: 0;
		text-align: center;
	}

	h1 {
		font-size: 3em;
	}
  
	nav ul {
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	nav li {
		border-bottom: none;
	}

	#homehero {
		background-image: url(images/hero.jpg);
		height: 50vh;
	}

	#heromugs {
		background-image: url(images/heromugs.jpg);
	}

	#heroguitar {
		background-image: url(images/heroguitar.jpg);
	}

	#flow {
		display: flex;
		flex-direction: row;
	}

	#mobile {
		display: none;
	}

	#desktop {
		display: inline;
	}

	.details {
		display: flex;
		flex-direction: row;
    padding-left: 20%;
	  padding-right: 20%;
	  overflow: auto;
	}

  h4 {
		margin-left: 10%;
		margin-right: 10%;
	}

  form {
		width: 40%;
		display: grid;
		grid-gap: 1em;
		gap: 1em;
		grid-template-columns: 6em 1fr;
	}

	input[type="submit"] {
		grid-column: 2 / 3;
		width: 9em;
	}

	#herojobs {
		background-image: url(images/herojobs.jpg)
	}
}


@media (min-width: 1024px) {
	@supports (display: grid) {
		header {
			grid-area: header;
		}

		nav {
			grid-area: nav;
		}

		main {
			grid-area: main;
		}

		footer {
			grid-area: footer;
		}

		#wrapper {
			display: grid;
			grid-template:
				"header header"
				"nav    main"
				"footer footer"
				/ 200px;
		}

		nav ul {
			flex-direction: column;
		}

		header {
			background-image: url(images/coffeelogo.jpg);
		}
	}
}
